$home_i-message0:"../images/ico-message0.png"; //消息图标40*29无消息
$home_i-message1:"../images/ico-message1.png"; //消息图标40*29新消息
$home_icon_peng:"../images/ico-notice.png"; //动态消息图标 39*28
$home_i-monitor:"../images/i-monitor.png"; //家长监护工程图标
$home_heroes_go_more:"../images/cha_more.jpg"; //查看更多
