$i-video-0:"../images/play2.png"; //发帖页视频图标 66*66
$i-tag-0:"../images/tag2.png"; //发帖页栏目图标 66*66
$i-smile-0:"../images/sa2.png"; //发帖页表情图标 66*66
$i-photo-0:"../images/gallery2.png"; //发帖页图片图标 66*66
$i-video-1:"../images/play.png"; //发帖页高亮视频图标 66*66
$i-tag-1:"../images/tag.png"; //发帖页高亮栏目图标 66*66
$i-smile-1:"../images/sa.png"; //发帖页高亮表情图标 66*66
$i-photo-1:"../images/gallery.png"; //发帖页高亮图片图标 66*66
$i-girl:"../images/i-girl.png"; //女性图标 54*54
$i-man:"../images/i-man.png"; //男性图标 54*54
$i-ok:"../images/i-ok.png"; //弹窗返回成功图标 84*84
$i-error:"../images/i-error.png"; //弹窗返回失败图标 84*84
$i-point:"../images/i-point.png"; //弹窗返回提示图标 84*84
$i-message:"../images/ico-message.png?1"; //回复图标(大量使用) 66*66
$i-love0:"../images/ico-love0.png"; //喜欢爱心图标(未点击) 66*66
$i-love1:"../images/ico-love1.png"; //喜欢爱心图标(点击) 66*66
$i-sort:"../images/ico-sort.png"; //帖子排序图标 66*66
$i-sort2:"../images/ico-sort2.png"; //帖子排序2态图标 66*66
$i-msgsystem:"../images/msgsystem.png"; //msg.html系统头像 88*88
$i-tongzhi:"../images/mine_list_t.png"; //个人中心通知图标 66*66
$i-group1:"../images/Group.png"; //已关注图标 135*84
$i-group2:"../images/Group2.png"; //互相关注图标 135*84
$i-group3:"../images/Group3.png"; //加关注图标 135*84
$i-group4:"../images/Group4.png"; //发送消息图标 135*84
$i-group5:"../images/Group5.png"; //好友发消息图标 100*66
$i-group6:"../images/Group6.png"; //好友删除图标 100*66
$failPoint:"../images/failpoint.png"; //消息发送失败图标 22*22
$errorBox:"../images/error_blank.png"; //空白页图片 1334*983
$btn-posting:"../images/posting.png"; //首页发帖图标 96*96
$i-msgactivity:"../images/msgactivity.png"; //活动消息
$i-msgcommunity:"../images/msgcommunity.png"; //社区消息
$i-msgwin:"../images/msgwin.png"; //系统消息
$ico-location:"../images/ico-location.png"; //好友定位图标 125*125
$ipt_close:"../images/ipt_close.png"; //好友搜索关闭图标
$i_delete:"../images/ico_delete.png"; //主题删除图标
$mgc:"../images/check.png"; //单选框
$popFrined:"../images/frPopBg.png"; //弹框背景
$popFrined_title:"../images/frPopTit.png"; //弹框标题背景
$popFrClose:"../images/frPopClose.png"; //弹框关闭
$friendNewBox_main_errorBox:"../images/location.png"; //朋友定位图标
$friendNewBox_btn_fr:"../images/fr-btn1.png"; //蓝色按钮
$friendNewBox_btn_fr_cur:"../images/fr-btn2.png"; //黄色按钮
$friptB:"../images/borFlash.png"; //好友select
$cancelBtn:"../images/fr-btn1.png"; //取消按钮
$confirmBtn:"../images/fr-btn2.png"; //确认按钮
$msgreply:"../images/msgreply.png"; //回复
$msglike:"../images/msglike.png"; //点赞
$msgsystem:"../images/msgsystem.png"; //主题
$i-caogao:"../images/mine_list_message.png"; //草稿箱图标
$i-shoucang:"../images/mine_list_evaluation.png"; //勋章
