$fblue:#2783c0; //高亮蓝色
$firstColor:#a2adbf; //用户名时间等字体颜色---灰蓝色
$frbrown:#d3ab70; //棕色字体
$forange:#d7614e; //通用橙色按钮背景色
$fgrey:#dbdcdf; //整体文字颜色
$bg:#081424; //整体背景色
$navbg:#1b2435; //整体tab背景色
$navbc:#1c2d3d; //整体tab背景色
$bc:#253243; //整体描边颜色
$lbc:#2877ae; //高光描边颜色
$oddbg:#1f283a; //各行换色背景
$notbg:#1b2435; //各行换色背景
$btnBlue:#152130; //按钮选中颜色
$btngrey:#515d6d; //按钮结束颜色 用户签名色
$secondBg:#152130; //第二背景色 灰蓝色背景
$thirdBg:#090f1a; //第三背景色 好友蓝底
$homeBoxBorderColor:#293647; //homev1.5.html描边颜色
$voteBg:#1b2435; //投票背景色
$voteCur:#2783c0; //投票选中色 用户中心用户名色
$voteNotCur:#2783c0; //未选中背景色
$voteEndBg:#152130; //投票结束背景色
$voteEndCur:#515d6d; //投票结束选中色
$curStatus_background:#3057a4; //tab标签页选中样式的背景色
$curStatus_color:#fff; //tab标签页选中样式的文字颜色
$uerlan_color:#a3b1bf; //用户中心 分项标签浅蓝文字颜色
$tedilan:#19537c; //用户中心 分项标签特殊蓝色
$lidilan:#07263e; //用户礼包中心  未使用蓝底
$popLine:#167bbe; //弹框边框
$popBg1:#131f2d; //弹框渐变初始色
$popBg2:#010916; //弹框渐变结束色
$popying:#102536; //弹框四周阴影色

$iconh:#3399cc; //icon高亮
$btnC:#07263e; //按钮底色
$btnBh:#0061a5; //按钮边框高亮
$tipC:#006699;//提示高亮
$tipTC:#9ed5f0;//提示高亮
$btnCh:#3ab1dd;//按钮文字高亮
$btnN:rgba(7, 53, 83, 0.72);//按钮btn-normal底色
$menuCTop:#07314e; //导航按钮渐变色开始
$menuCEnd:#073553; //导航按钮渐变色结束
$menuCH:#0d4569;//导航按钮高亮
$menuCIcon:#1d678f; //导航icon颜色
$menuCshadow:#001c38; //导航icon阴影
$formTextC:#eeeded; //表单字体颜色
$pointC:#cccccc;//列表点颜色
$xyBgC:#003356;//小游对话框颜色
$inputBgC:#161a23;//小游输入框深底色
$buttonBgC:#1e2b3c;//小游提问按钮底色
$audoPlayC:rgba(0, 0, 0, 0.67);//播放暂停按钮底色
$audoPlayC2:#707d8c;//播放按钮底色2


$cutOff_bor:#19537c; //福利分割线
$shop_num:#9ed5f0; //购物车数量
$shop_btn:#072b45; //兑换按钮颜色
$more_btn:#2d374c; //更多按钮颜色


$CoupZi:#fff; //优惠券 字色
$CoupLine-01:#f8cf73; //优惠券1 边框
$Coupbg-01:#f8cf73; //优惠券1 背景
$Coupbg_b-01:#e7c26f; //优惠券1 侧背景 
$CoupLine-02:#b67745; //优惠券2 边框
$Coupbg-02:#ecae7d; //优惠券2背景
$Coupbg_b-02:#dba374; //优惠券2 侧背景 
$CoupLine-03:#61749a; //优惠券3 边框
$Coupbg-03:#94aedf; //优惠券3 背景
$Coupbg_b-03:#8aa2d0; //优惠券3 侧背景  
$CoupLine-lose:#1e5279; //失效优惠券 边框
$Coupbg-lose:#182335; //失效优惠券背景
$Coupbg_b-lose:#182335; //失效优惠券 侧背景 


$WanZi:#5b6987; //完善信息 提示必埴字 输入边框文字色 
$Wanbor_a:#0c98fe; //  提示必埴符 输入边框正常色
$Wanbor_b:#f1491b; //  输入边框error色
$Wanbgs_a:#1f283a; //   输入框底色
$huobabgs_a:#0e97ff; //   获取验证码底色
$famabgs_a:#0f1b28; //   发送验证码倒计时底色
 
 