@charset "UTF-8";
html {
    font-size: 62.5%;
}

$fblue:#2783c0;				//高亮蓝色

$firstColor:#a2adbf;    		//昵称时间等字体颜色
$frbrown:#d3ab70;                       //棕色字体
$forange:#d7614e;                       //通用按钮背景色


$fgrey:#dbdcdf;         		//整体文字颜色
$bg:#081424;				//整体背景色

$navbg:#1b2435;                         //整体tab背景色
$navbc:#1c2d3d;                         //整体tab边线色

$bc:#253243;                            //整体描边颜色
$lbc:#2877ae;    			//高光描边颜色

$oddbg:#1f283a;                         //主楼回复背景1
$notbg:#1b2435;				//主楼回复背景2
$btnBlue:#152130;                       //按钮选中颜色
$btngrey:#515d6d;                       //按钮结束颜色

$secondBg:#152130;			//第二背景色
$thirdBg:#090f1a;                       //第三背景色

$homeBoxBorderColor:#293647;            //homev1.5.html描边颜色

$url:style2;				//图片路径
$prefix:"..";				//图片路径

$voteBg:#1b2435;			//投票背景色
$voteCur:#2783c0;			//投票选中色
$voteNotCur:#2783c0;			//未选中背景色
$voteEndBg:#152130;		        //投票结束背景色
$voteEndCur:#515d6d;                    //投票结束选中色






.frbrown {
    color: $frbrown;
}

.pipe {
	display:none!important;       	//导航分割线是否存在
	background: #BDC6CF;		//存在的话背景色
}

@mixin curStatus {		        //tab标签页选中样式
    background: #3057a4;                //tab标签页选中样式的背景色
    color:#fff;				//tab标签页选中样式的文字颜色
}

// 字体图标文件
@font-face {
    font-family: "iconfont";
    src: url(#{$prefix}/font/iconfont.ttf) format('truetype');
}
@import "../modules/all.scss";
@import "../ventor/reset.scss";
@import "../ventor/mui.picker.min.scss";
//@import "../ventor/mui.scss";
@import "../ventor/fancybox.scss";
@import "../ventor/swiper.min.scss";

@import "icon.scss";
@import "main.scss";
@import "log.scss";
@import "msg.scss";
@import "emoji.scss";
@import "role.scss";
@import "posts.scss";
@import "vote.scss";
@import "setting.scss";
@import "forum.scss";
@import "report.scss";
@import "friend.scss";
@import "friend1.5.scss";
// @import "data.scss";
// @import "home.scss";
@import "datav1.5.scss";
@import "homev1.5.scss";
@import "response.scss";
@import "header.scss";
@import "sign.scss";
@import "game.scss";
@import "dialog.scss";
@import "news.scss";
@import "chat.scss";
@import "nonage.scss";

.header {
	background:#1e2b3c;
}




//图标
//发帖页视频图标 66*66
.i-video {
    background: url(#{$prefix}/images/play2.png);
    background-size: cover;
}
//发帖页板块图标 66*66
.i-tag {
    background: url(#{$prefix}/images/tag2.png);
    background-size: cover;
}
//发帖页表情图标 66*66
.i-smile {
    background: url(#{$prefix}/images/sa2.png) no-repeat;
    background-size: cover;
}
//发帖页图片图标 66*66
.i-photo {
    background: url(#{$prefix}/images/gallery2.png) no-repeat;
    background-size: cover;
}
//发帖页图标高亮状态 66*66
.editTool {
    .iconfont.cur {
        .i-video {
            background: url(#{$prefix}/images/play.png);
            background-size: cover;
        }
        .i-tag {
            background: url(#{$prefix}/images/tag.png);
            background-size: cover;
        }
        .i-smile {
            background: url(#{$prefix}/images/sa.png);
            background-size: cover;
        }
        .i-photo {
            background: url(#{$prefix}/images/gallery.png);
            background-size: cover;
        }
    }
}
// 女性图标 54*54
.i-girl {
    background: url(#{$prefix}/images/i-girl.png);
    background-size: cover;
}
// 男性图标 54*54
.i-man {
    background: url(#{$prefix}/images/i-man.png);
    background-size: cover;
}
// 弹窗返回成功图标 84*84
.i-ok {
    background: url(#{$prefix}/images/i-ok.png);
    background-size: cover;
}
// 弹窗返回失败图标 84*84
.i-error {
    background: url(#{$prefix}/images/i-error.png);
    background-size: cover;
}
// 弹窗返回提示图标 84*84
.i-point {
    background: url(#{$prefix}/images/i-point.png);
    background-size: cover;
}
// 回复图标(大量使用) 66*66
.i-message {
    background: url(#{$prefix}/images/ico-message.png?1) center center no-repeat;
    background-size: cover;
}
// 点赞图标(未点击) 66*66
.i-love0 {
    background: url(#{$prefix}/images/ico-love0.png) center center no-repeat;
    background-size: cover;
}
// 点赞图标(点击) 66*66
.i-love1 {
    background: url(#{$prefix}/images/ico-love1.png) center center no-repeat;
    background-size: cover;
}
// 帖子排序图标 66*66
.i-sort {
    background: url(#{$prefix}/images/ico-sort.png) center center no-repeat;
    background-size: cover;
}
// 帖子排序图标二态  66*66
.i-sort.cur {
    background: url(#{$prefix}/images/ico-sort2.png) center center no-repeat;
    background-size: cover;
}

// msg.html系统头像 88*88
.i-msgsystem {
    background: url(#{$prefix}/images/msgsystem.png) center center no-repeat;
    background-size: cover;
}
// 个人中心通知图标 66*66
.i-tongzhi {
    background: url(#{$prefix}/images/mine_list_t.png) center center no-repeat;
    background-size: cover;
}
// 已关注图标 135*84
.i-group1 {
    background: url(#{$prefix}/images/Group.png) center center no-repeat;
    background-size: cover;
}
// 互相关注图标 135*84
.i-group2 {
    background: url(#{$prefix}/images/Group2.png) center center no-repeat;
    background-size: cover;
}
// 加关注图标 135*84
.i-group3 {
    background: url(#{$prefix}/images/Group3.png) center center no-repeat;
    background-size: cover;
}
// 发送消息图标 135*84
.i-group4 {
    background: url(#{$prefix}/images/Group4.png) center center no-repeat;
    background-size: cover;
}
//好友发消息图标 100*66
.i-group5 {
    background: url(#{$prefix}/images/Group5.png) center center no-repeat;
    background-size: cover;
}
//好友删除图标 100*66
.i-group6 {
    background: url(#{$prefix}/images/Group6.png) center center no-repeat;
    background-size: cover;
}

// 消息发送失败图标 22*22
.failPoint {
    background: url(#{$prefix}/images/failpoint.png);
}
// 空白页图片 1334*983
.errorBox {
    background: url(#{$prefix}/images/error_blank.png) no-repeat center center;
    background-size: contain;
}
// 首页发帖图标 96*96
.btn-posting {
    background: url(#{$prefix}/images/posting.png);
    background-size: cover;
}



//活动消息
.i-msgactivity{
    background: url(#{$prefix}/images/msgactivity.png) center center no-repeat;
    background-size: cover;
}
//社区消息
.i-msgcommunity{
    background: url(#{$prefix}/images/msgcommunity.png) center center no-repeat;
    background-size: cover;
}
//系统消息
.i-msgwin{
    background: url(#{$prefix}/images/msgwin.png) center center no-repeat;
    background-size: cover;
}

//好友定位图标 125*125
.ico-location {
    background: url(#{$prefix}/images/ico-location.png) no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
}
//好友搜索关闭图标
.ipt_close{
    background: url(#{$prefix}/images/ipt_close.png) no-repeat;
    background-size: cover;
    display: inline-block;
}
