@charset "UTF-8";
html {
    font-size: 62.5%;
}
$prefix:".."; //图片路径
$url:style2; //图片路径
//颜色参数

@import "../param/main_color.scss";


// $fblue:#2783c0; //高亮蓝色
// $firstColor:#a2adbf; //用户名时间等字体颜色---灰蓝色
// $frbrown:#d3ab70; //棕色字体
// $forange:#d7614e; //通用橙色按钮背景色
// $fgrey:#dbdcdf; //整体文字颜色
// $bg:#081424; //整体背景色
// $navbg:#1b2435; //整体tab背景色
// $navbc:#1c2d3d; //整体tab背景色
// $bc:#253243; //整体描边颜色
// $lbc:#2877ae; //高光描边颜色
// $oddbg:#1f283a; //各行换色背景
// $notbg:#1b2435; //各行换色背景
// $btnBlue:#152130; //按钮选中颜色
// $btngrey:#515d6d; //按钮结束颜色
// $secondBg:#152130; //第二背景色 灰蓝色背景
// $thirdBg:#090f1a; //第三背景色 好友蓝底
// $homeBoxBorderColor:#293647; //homev1.5.html描边颜色
// $url:style2; //图片路径
// $prefix:".."; //图片路径
// $voteBg:#1b2435; //投票背景色
// $voteCur:#2783c0; //投票选中色
// $voteNotCur:#2783c0; //未选中背景色
// $voteEndBg:#152130; //投票结束背景色
// $voteEndCur:#515d6d; //投票结束选中色
.frbrown {
    color: $frbrown;
}

.pipe {
    display: none!important; //导航分割线是否存在
    background: #BDC6CF; //存在的话背景色
}

@mixin curStatus {
    //tab标签页选中样式
    background: $curStatus_background; //tab标签页选中样式的背景色
    color: $curStatus_color; //tab标签页选中样式的文字颜色
}

// 字体图标文件
@font-face {
    font-family: "iconfont";
    src: url(#{$prefix}/font/iconfont.ttf) format('truetype');
}


@import "//at.alicdn.com/t/font_475889_prgl3o3mp1fw29.css";
@import "../modules/all.scss";
@import "../ventor/reset.scss";
@import "../ventor/mui.picker.min.scss";
//@import "../ventor/mui.scss";
@import "../ventor/fancybox.scss";
@import "../ventor/swiper.min.scss";

@import "icon.scss";
@import "main.scss";
@import "log.scss";
@import "msg.scss";
@import "emoji.scss";
@import "role.scss";
@import "posts.scss";
@import "vote.scss";
@import "setting.scss";
@import "forum.scss";
@import "report.scss";
@import "friend.scss";
@import "friend1.5.scss";
// @import "data.scss";
// @import "home.scss";
@import "datav1.5.scss";
@import "homev1.5.scss";
@import "response.scss";
@import "header.scss";
@import "sign.scss";
@import "game.scss";
@import "dialog.scss";
@import "news.scss";
@import "chat.scss";
@import "nonage.scss";
@import "user.scss";
@import "privilege.scss";

@import "benefits.scss";

.header {
    background: #1e2b3c;
}

//图片参数
@import "../param/main_image.scss";


//图标
//发帖页视频图标 66*66
.i-video {
    background: url(#{$i-video-0});
    background-size: cover;
}

//发帖页栏目图标 66*66
.i-tag {
    background: url(#{$i-tag-0});
    background-size: cover;
}

//发帖页表情图标 66*66
.i-smile {
    background: url(#{$i-smile-0}) no-repeat;
    background-size: cover;
}

//发帖页图片图标 66*66
.i-photo {
    background: url(#{$i-photo-0}) no-repeat;
    background-size: cover;
}

//发帖页图标高亮状态 66*66
.editTool {
    .iconfont.cur {
        .i-video {
            background: url(#{$i-video-1});
            background-size: cover;
        }
        .i-tag {
            background: url(#{$i-tag-1});
            background-size: cover;
        }
        .i-smile {
            background: url(#{$i-smile-1});
            background-size: cover;
        }
        .i-photo {
            background: url(#{$i-photo-1});
            background-size: cover;
        }
    }
}

// 女性图标 54*54
.i-girl {
    background: url(#{$i-girl});
    background-size: cover;
}

// 男性图标 54*54
.i-man {
    background: url(#{$i-man});
    background-size: cover;
}

// 弹窗返回成功图标 84*84
.i-ok {
    background: url(#{$i-ok});
    background-size: cover;
}

// 弹窗返回失败图标 84*84
.i-error {
    background: url(#{$i-error});
    background-size: cover;
}

// 弹窗返回提示图标 84*84
.i-point {
    background: url(#{$i-point});
    background-size: cover;
}

// 回复图标(大量使用) 66*66
.i-message {
    background: url(#{$i-message}?1) center center no-repeat;
    background-size: cover;
}

// 喜欢爱心图标(未点击) 66*66
.i-love0 {
    background: url(#{$i-love0}) center center no-repeat;
    background-size: cover;
}

// 喜欢爱心图标(点击) 66*66
.i-love1 {
    background: url(#{$i-love1}) center center no-repeat;
    background-size: cover;
}

// 帖子排序图标 66*66
.i-sort {
    background: url(#{$i-sort}) center center no-repeat;
    background-size: cover;
}

// 帖子排序图标二态  66*66
.i-sort.cur {
    background: url(#{$i-sort2}) center center no-repeat;
    background-size: cover;
}

// msg.html系统头像 88*88
.i-msgsystem {
    background: url(#{$msgsystem}) center center no-repeat;
    background-size: cover;
}

// 个人中心通知图标 66*66
.i-tongzhi {
    background: url(#{$i-tongzhi}) center center no-repeat;
    background-size: cover;
}

// 已关注图标 135*84
.i-group1 {
    background: url(#{$i-group1}) center center no-repeat;
    background-size: cover;
}

// 互相关注图标 135*84
.i-group2 {
    background: url(#{$i-group2}) center center no-repeat;
    background-size: cover;
}

// 加关注图标 135*84
.i-group3 {
    background: url(#{$i-group3}) center center no-repeat;
    background-size: cover;
}

// 发送消息图标 135*84
.i-group4 {
    background: url(#{$i-group4}) center center no-repeat;
    background-size: cover;
}

//好友发消息图标 100*66
.i-group5 {
    background: url(#{$i-group5}) center center no-repeat;
    background-size: cover;
}

//好友删除图标 100*66
.i-group6 {
    background: url(#{$i-group6}) center center no-repeat;
    background-size: cover;
}

// 消息发送失败图标 22*22
.failPoint {
    background: url(#{$failPoint});
}

// 空白页图片 1334*983
.errorBox {
    background: url(#{$errorBox}) no-repeat center center;
    background-size: contain;
}

// 首页发帖图标 96*96
.btn-posting {
    background: url(#{$btn-posting});
    background-size: cover;
}



//活动消息
.i-msgactivity {
    background: url(#{$i-msgactivity}) center center no-repeat;
    background-size: cover;
}

//社区消息
.i-msgcommunity {
    background: url(#{$i-msgcommunity}) center center no-repeat;
    background-size: cover;
}

//系统消息
.i-msgwin {
    background: url(#{$i-msgwin}) center center no-repeat;
    background-size: cover;
}

//好友定位图标 125*125
.ico-location {
    background: url(#{$ico-location}) no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
}

//好友搜索关闭图标
.ipt_close {
    background: url(#{$ipt_close}) no-repeat;
    background-size: cover;
    display: inline-block;
}

//主题删除图标
.i_delete {
    background: url(#{$i_delete}) no-repeat;
    background-size: cover;
}

//单选框
.mgc {
    border: 1px solid $navbc;
    background: $thirdBg;
    line-height: auto;
    border-radius: 0!important;
    &.cur:checked,&:checked {
        border-color: $lbc;
        color: $lbc!important;
        &:after {
            background: url(#{$mgc}) no-repeat;
        }
    }
}


//弹框背景
.popFrined {
    background: url(#{$popFrined}) no-repeat;
    background-size: 100%; //弹框标题
    .popTitle {
        background: url(#{$popFrined_title}) no-repeat center;
        background-size: 100%;
    }
}

//弹框关闭
.popFrClose {
    background: url(#{$popFrClose}) no-repeat center;

    background-size: 100%;
}

//朋友定位图标
.friendNewBox {
    .main3 {
        .errorBox {
            background: url(#{$friendNewBox_main_errorBox}) no-repeat center bottom!important;
            background-size: 1.25rem 1.25rem!important;
        }
    } //蓝色按钮
    .btn_fr {
        background: url(#{$friendNewBox_btn_fr}) no-repeat;
        background-size: 100% 100%;
    } //黄色按钮
    .btn_fr.touch,
    .btn_fr.cur {
        background: url(#{$friendNewBox_btn_fr_cur}) no-repeat;
        background-size: 100% 100%;
    }
}

//新消息提示红点
.i-tips {
    width: 6px;
    height: 6px;
    background: #ff0000;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 4px;
}

//好友select
.friptB {
    .selectBtn {
        background:url(#{$friptB}) no-repeat center 4px;
        background-size: 100% 100%;
        color: $firstColor;
    }
}

//确认按钮
.cancel {
    background: url(#{$cancelBtn}) no-repeat;
    background-size: 100% 100%;
}

//取消按钮
.confirm {
    background: url(#{$confirmBtn}) no-repeat;
    background-size: 100% 100%;
}

//回复
.msgreply {
    background:url(#{$msgreply}) no-repeat;
    background-size: cover;
}
//点赞
.msglike {
    background:url(#{$msglike}) no-repeat;
    background-size: cover;
}
//主题
.msgsystem {
    background:url(#{$msgsystem}) no-repeat;
    background-size: cover;
}

//草稿箱图标
.i-caogao {
    background: url(#{$i-caogao}) center center no-repeat;
    background-size: cover;
}

//勋章
.i-shoucang {
    background: url(#{$i-shoucang}) center center no-repeat;
    background-size: cover;
} 