$fblue:#2783c0; //高亮蓝色
$firstColor:#a2adbf; //用户名时间等字体颜色---灰蓝色
$frbrown:#d3ab70; //棕色字体
$forange:#d7614e; //通用橙色按钮背景色
$fgrey:#dbdcdf; //整体文字颜色
$bg:#081424; //整体背景色
$navbg:#1b2435; //整体tab背景色
$navbc:#1c2d3d; //整体tab背景色
$bc:#253243; //整体描边颜色
$lbc:#2877ae; //高光描边颜色
$oddbg:#1f283a; //各行换色背景
$notbg:#1b2435; //各行换色背景
$btnBlue:#152130; //按钮选中颜色
$btngrey:#515d6d; //按钮结束颜色
$secondBg:#152130; //第二背景色 灰蓝色背景
$thirdBg:#090f1a; //第三背景色 好友蓝底
$homeBoxBorderColor:#293647; //homev1.5.html描边颜色
$voteBg:#1b2435; //投票背景色
$voteCur:#2783c0; //投票选中色
$voteNotCur:#2783c0; //未选中背景色
$voteEndBg:#152130; //投票结束背景色
$voteEndCur:#515d6d; //投票结束选中色
$curStatus_background:#3057a4; //tab标签页选中样式的背景色
$curStatus_color:#fff; //tab标签页选中样式的文字颜色
