$home_fwhite:#eeeded; //默认白色
$home_fblue2:#515d6d; //时间、播放次数颜色
$home_fblue3:#a2adbf; //用户名、按钮、标题颜色
$home_fbrown:#d3ab70; //棕色字体
$home_newbg:#152130; //新闻背景色
$home_sbg:#2d374c; //标签背景色
$home_imgbc:#11233b; //轮播图边框
$home_bc:#253243; //整体描边颜色
