@charset "UTF-8";
.gameBox {
	margin-bottom: 15px;
	@include clearfix();
}
.gameInfo {
	padding:15px;
	@include clearfix();
}
.gameLeft {
	float: left;
	width: 65px;
	margin-right: 15px;
	img {
		width: 65px;
		height: 65px;
		border-radius: 20px;
	}
}
.name {
	font-size: 16px;
	margin-bottom: 15px;
}
.remark {
	color: $fgrey;
	span {
		margin-right: 15px;
	}
}
.classBox {
	border-top: 1px solid $bc;
} 
.btn-website {
	position: absolute;
	right: 0;
	top: 0;
	background: #8FDB3C;
	color: #fff;
	padding:4px 10px;
	font-size: 12px;
}