@charset "UTF-8";
@import "../ventor/swiper.min.scss";
.homeBox {
    // background: #f8f9fb;
    .swiper-container {
        width: 100%;
        margin-bottom: 15px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 162px;
        border-radius: 10px;
    }
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        border-radius: 10px;
    }
    .sectionList {
        .scol {
            background: $secondBg;
            width: 25%;
            float: left;
            .inner {
                border-right: 1px solid $homeBoxBorderColor;
                border-bottom: 1px solid $homeBoxBorderColor;
                padding: 14px;
                overflow: hidden;
                white-space: nowrap;
                display: block;
                font-size: 15px;
            }
            .ico {
                margin-right: 6px;
                width: 16px!important;
                height: 16px!important;
                margin-top: -2px;
            }
        }
        .col:nth-last-child(1) {
            border-right: 0;
        }
    }
    .dataList {
        overflow: hidden;
        @include clearfix();
    }
    .dataItem {
        width: 31%;
        float: left;
        margin: 0 0.3rem 0.8rem;
        border: 1px solid $secondBg;
        position: relative;
        img {
            width: 100%;
        }
        p {
            line-height: 2.5rem;
            text-align: center;
            background: $secondBg;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            display: block;
        }
    }
    div[class^="main"] {
        //top: 7.5rem;
        bottom: 0;
        right: 15px;
        left: 15px;
    }

    .titleBox {
        text-align: center;
        margin-bottom: 0.833333rem;
        time {
            font-size: 12px;
        }
        h3 {
            font-size: 15px;
            border-bottom: 1px solid $bc;
            padding-bottom: 1.0rem;
            margin-bottom: 0.5rem;
        }
    }
}

.videoItem {
    .dataItem img {
        opacity: .8;
    }
    .dataItem {
        position: relative;
    }
}

.postList {
    background: $secondBg;
    padding-bottom: 20px;
    .bestTit {
        text-align: center;
        color: #a4a4a4;
        position: relative;
        padding: 10px 0;
    }
    .bestMore {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .list {
        position: relative;
        padding: 0 15px;
    }
    .type {
        font-size: 12px;
        color: #4a90e2;
    }
    .item {
        border-bottom: 1px solid $bc;
        padding: 12px 0px;
        position: relative;
        &.nopicture {
            p {
                height: auto;
            }
        }
    }
    time {
        float: right;
    }
    h4 img {
        width: 100%;
        margin: 1% 0;
    }
    .text {
        p {
            height:42px;;
            overflow: hidden;
            margin-bottom: 0.5rem;
        }
        @include clearfix();
    }
    .thum {
        width: 9.2rem;
        height: 7.04rem;
        float: left;
        margin-right: 10px;
    }
    .sub {
        margin-top: 10px;
    }
}

.homeMore {
    width: 160px;
    height: 28px;
    text-align: center;
    border: 1px solid #979797;
    color: #4A4A4A;
    border-radius: 3px;
    line-height: 28px;
    @include center-block();
    margin-top: 20px;
}
