@charset "UTF-8";
.newList {
    .newsItem {
        border-bottom: 1px solid $bc;
        padding-right: 1rem;
        overflow: hidden;
        padding: 10px 0;
        overflow: hidden;
        @include clearfix();
        position: relative;
        time {
            position: absolute;
            bottom:10px;
            right: 0;
            background: $bg;
            padding:0 6px 0 20px;
            font-size: 12px;
        }
        em {
            display:inline-block;
            width: 40px!important;
            max-height: 40px;

            margin-right: 10px;
        }
        .newsTxt {
            max-height: 40px;
            overflow: hidden;
        }
    }
}

//Mixins
@import "mixins";  
@import "flexbox";

//Variables
//mixins 变量
$legacy-support-for-ie: true !default;
$inline-block-alignment: middle !default;

//图片版本号
$imgV: '?0';

//雪碧图地址
$imgPath : '../images/';
$sprite: $imgPath + 'sprite_tq.png' + $imgV; 

/* 角色列表 */
.role_list {
    position: absolute; left: 0; top: 0; height: 100vh; width: 100%;
    .forumBox { top: 1rem;}
    ul {@include display-flex(); @include flex-wrap-wrap();}
    li { width: 3.28rem; position: relative;border: 0.01rem solid $navbc; background: $notbg; @include flex(0, 1, 46%); margin: 0 2% 0.3rem 2%; @include css3(box-sizing,border-box);}
    img { width: 100%;}
    aside { position: absolute; left: 0.24rem; top: 0.28rem; color: $uerlan_color; font-size: 0.18rem; text-shadow:1px 1px 2px #000;}
    p { width: 2.1rem;}
    h3 { font-size: 0.28rem;}
    a { position: absolute; left: 0.24rem; bottom: 10%; width: 1.40rem; height: 0.5rem; background: $tedilan; text-align: center; line-height: 0.5rem; font-size: 0.26rem; color: $curStatus_color;border-radius: 0.04rem;}
    a:hover,a:active { background-color: $voteCur;}
}

.head_role { padding: 0.3rem; @include clearfix(); position: relative;}
.img_role_detail { 
    width: 37%; height: 100%; position: absolute; left: 0.3rem;top: 0; 
    h3 { font-size: 0.3rem;}
    .wrarp_img_roleD {
        width: 100%; top: 50%; position: absolute; @include css3( transform,translateY(-50%)); text-align: center;
        img { width: 100%; margin-bottom: 0.2rem;}
    }
}
.info_role { 
    width: 60%;color: $uerlan_color; padding-left: 40%;
    .wrap_this { padding: 0 0 0 0.3rem;}
}
.list_roleInfo {
    li { 
        font-size: 0.28rem;
        h3 {font-size: 0.24rem; color: $fblue; margin-bottom: 0.06rem;}
    }
}
.content_role {
    padding: 0.2rem 0.3rem 0 0.3rem; overflow-x: hidden;
    h3 { 
        text-align: center; font-size: 0.3rem; color: $fblue; border-bottom: 1px solid $navbc; padding-bottom: 0.1rem;
        .iconfontYZ { font-size: 0.3rem;}
        .iconYZ-kuaitui { padding-right: 0.1rem;}
        .iconYZ-kuaijin { padding-left: 0.1rem;}
    }
    article { 
        color: $uerlan_color; padding: 0.2rem 0; font-size: 0.24rem; line-height: 0.42rem; 
        img { max-width: 100%;}
    }
}

.head_audio { padding: 0.3rem; @include clearfix(); position: relative; min-height: 1.8rem;}
.img_audio_detail { 
    width: 32%; height: 100%; position: absolute; left: 0.3rem;top: 0; 
    img { width: 100%; top: 50%; position: absolute;@include css3( transform,translateY(-50%));}
}
.info_audio { 
    width: 66%;color: $uerlan_color; padding-left: 34%; overflow: hidden;
    .wrap_this { padding: 0 0 0 0.3rem;font-size: 0.24rem;}
    h3 { font-size: 0.28rem; color: $fblue;}
}
.btn_controlA {
    display: block; width: 0.92rem; height: 0.92rem; position: absolute; left: 50%; top: 50%; margin: -0.46rem 0 0 -0.46rem; background: $audoPlayC; border-radius: 50%; text-align: center; line-height: 0.92rem; cursor: pointer;
    i { font-size: 0.35rem; color: $curStatus_color;}
    &.on {
        i:before { content:'\e66d'}
    }
}
#audio_show { 
    width: 100%; margin-top: 0.14rem;
    &::-webkit-media-controls {
        overflow: hidden !important
    }
    &::-webkit-media-controls-enclosure {
        width: calc(100% + 32px);
        margin-left: auto;
    }
}
.shu {
    #audio_show {display: none;}
    .head_audio { @include display-flex(); @include align-items-center();}
}
.fn_audio {
    padding: 0 0.3rem;
    @include display-flex(); @include justify-content-space-between(); @include align-items-center();font-size: 0.24rem; color: $uerlan_color;
    div {
        i { color: $fblue;font-size: 0.34rem; vertical-align: middle; margin-right: 0.1rem; }
    }
    .yetLike {
        .iconYZ-weidianz:before { content: "\e633";}
    }
}
.list_audio {
    padding: 0.2rem 0;
    ul {border-top: 1px solid $navbc; margin: 0 0.3rem;}
    li {
        @include display-flex();@include align-items-center(); font-size: 0.28rem;color: $uerlan_color; border-bottom: 1px solid $navbc; padding: 0.15rem 0;
        div { text-align: center;}
        div:nth-child(1){@include flex(1, 1, 40%);}
        div:nth-child(2){@include flex(1, 1, 25%);}
        div:nth-child(3){@include flex(1, 1, 15%);}
        div:nth-child(4){@include flex(1, 1, 20%);}
        &.head_listAudio { color:$fblue; font-size: 0.28rem;}
    }
}
.btn_playAudio { 
    display: inline-block; width: 0.36rem;; height: 0.36rem; background: $audoPlayC2; text-align: center; line-height: 0.31rem; border-radius: 50%;
    i {font-size: 0.16rem; }
}

.heng {
    //角色列表
    .role_list li { width: 3.85rem;  @include flex(0, 1, 29.2%); }
    //角色详情
    .wraper { height: 100vh; overflow: hidden;}
    .head_role { 
        float: left; width: 34%; padding: 0 3%; height: 96vh; margin-top: 4vh; overflow: auto; border-right: 1px solid $navbc; @include css3(box-sizing,border-box);
        .img_role_detail { 
            width: 100%; position: relative; left: 0; height: auto;
            img { position: relative; left: 0;@include css3( transform,translateY(0));}
        }
        .wrarp_img_roleD {
            position: relative; top: auto;@include css3( transform,translateY(0));
            img { margin-bottom: 0.1rem;}
        }
        .info_role { 
            width: 100%; padding: 0; margin-top: -0.2rem;
            .wrap_this { padding: 0;}
            h3 { padding-top: 0.16rem;}
        }
    }
    .content_role { 
        float: left; width: 66%; height: 100vh; padding: 0 3%; overflow: auto;@include css3(box-sizing,border-box);
        h3 { padding-top: 0.16rem;}
    }
    

    //音乐鉴赏
    
    .singer_audio { float: right;}
    .info_audio {
        h3 { float: left;}
    }
    .img_audio_detail { padding-top: 0.3rem;}
    .clear { @include clearfix();}
    .fn_audio { padding-left: 37%; margin-top: -0.3rem; position: relative; z-index: 2;}
}
