@charset "UTF-8";
.nonageBox{
    font-size:12px;
    line-height:2;
    @include clearfix;
}
.nonageHd{
    width:100%;
    height:200px;
}
.nonageContact{
    width:50%;
    height:135px;
    box-sizing:border-box;
    padding:15px 30px;
    color:$fgrey;
    float: left;
    background:$secondBg;
    a{
        color:$fgrey;
    }
}

.nonageApply{
    width:50%;
    height:135px;
    box-sizing:border-box;
    padding:15px;
    float: left;
    background:$secondBg;
    .title{color:$fgrey;}
    li{
        border-bottom:1px dashed #4b5264;
        padding-left:5px;
    }
    li:last-child{border-bottom: 0}
}

@media screen and (orientation: portrait) {
    .nonageHd{
        height: 230px;
    }
    .nonageContact,.nonageApply{
        width:100%;
        height:auto;
    }
    .nonageContact{
        margin-bottom: 10px;
        padding:15px;
        li{
            float: left;
            width: 50%;
        }
    }
}