@charset "UTF-8";
.postsBox {
    top: 4.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
}

.publish-article-content {
    height:9rem;
    padding: 0.833333rem;
    background: $bg;
    border-bottom: 1px solid $bc;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.article-content {
    min-height: 100%;
    overflow-y: auto;
    color:$firstColor;
    img {
        width: 2.0rem;
        height: 2.0rem;
    }
}

.article-title {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color:$firstColor;
}

.editTool {
    padding-left: 0.833333rem;
    border-bottom: 1px solid $bc;
    background: $oddbg;
    @include clearfix();
    .iconfont {
        float: left;
        margin-right: 1.666667rem;
        cursor: pointer;
    }
}

.editList {
    @include clearfix();
    .editItem:nth-child(2),
    .editItem:nth-child(3),
    .editItem:nth-child(4) {
        display: none;
    }
    .tagBox {
        padding: 1.25rem;
        .tagList {
            li {
                padding: 0 10px;
                height: 2.083333rem;
                line-height: 2.083333rem;
                background: #fff;
                float: left;
                text-align: center;
                margin: 0 0.833333rem 0.833333rem 0;
                color: #666666;
                border-radius: 3px;
                cursor: pointer;
            }
            li.cur {
                color: #fff;
                background: $forange;
                border-color: $forange;
            }
        }
    }
    .uploadVideoBox {
        padding: 10px;
        position: relative;
        img {
            width: 216px;
            height: 120px;
        }
    }
    .uploadBox {
        @include clearfix();
        padding: 10px 10px 30px;
        .gamePhoto {
            background: #fff;
            color: #7a7c80;
            text-align: center;
            position: absolute;
            top: -7rem;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            padding: 0.4rem 0;
            line-height: 30px; // left: 50%;
            // transform: translateX(-50%);
            // -webkit-transform: translateX(-50%);
            white-space: nowrap;
            display: none;
            span {
                display: block;
                padding: 0 1.25rem;
            }
            span:nth-child(1) {
                border-bottom: 1px solid #edecea;
            }
            span.cur {
                background: #f1f0f0;
                color: $forange;
            }
            .arrow {
                @include arrow(bottom,
                9px,
                #fff);
                position: absolute; // left: 50%;
                bottom: -7px;
                padding: 0;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }
        }
        .gamePhoto span:active {
            background: #f1eff0;
            color: $forange;
        }
    }
    .userUpload {
        li {
            position: relative;
            float: left;
        }
    }
    .editRemind {
        text-align: center;
        position: absolute;
        bottom: 0.833333rem;
        width: 100%;
    }
    .upLoadItem {
        position: relative;
        display: inline;
        float: left;
        margin: 0 1rem 0.6rem 0;
        img {
            width: 0;
            height: 80px;
        }
    }
    .upLoadItem:nth-child(5n) {
        // margin-right:0;
    }
    .uploadPostsBox {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}