@charset "UTF-8";

/*

*/
  
 

.clearfix:after  {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix        {display: inline-block;}
.clearfix        {display: block;}

.no_more_info, .morenone { text-align: center;  padding:0.1rem 0;  }

/* 礼包导航  */
.GifuMenuBox {
}
.GifuMenuZu {
    width:100%; height:0.72rem; line-height:0.72rem;  background: $navbg; 
    li{ 
        font-size: 0px; width:25%; float:left; 
        a{
            display: inline-block; border: 1px solid $navbc; border-left:0;
            width: 100%;     height: 0.7rem;line-height:0.7rem;font-size:0.28rem; text-align: center; 
            color: $curStatus_color; 

        
        }
        &.current a{
                background:url(#{$prefix}/images/user_gift_nav_bg.png);
                background-size: cover;  
            }
    }
}
.GifuMenuZu li:nth-child(1) a{       
    border-left: 1px solid $navbc;  
}

/*  订单导航  */
.OrderMenuBox {
}
.OrderMenuZu {
    li{  width:33%; 
        a{         }
        &.current a{
                background:url(#{$prefix}/images/tab_cur.jpg);
                background-size: cover;  
            }
    }
}
 

/* 公共元素  */
.btn_see_xiangxi ,.btn_see_chakan{
    display: inline-block;
    width: 1.4rem; height: 0.5rem; line-height: 0.5rem; border-radius: 0.05rem;
    font-size:0.26rem; text-align: center;
    color: $curStatus_color; 
    background: $voteCur; 
} 
.btn_t_huang , .btn_t_lan {
    display: inline-block;    width: 1.6rem; height: 0.66rem; line-height: 0.66rem;margin: 0 0.15rem;
    font-size:0.3rem; text-align: center;
    color: $curStatus_color;  
}
.btn_t_lan { 
    background:url(#{$prefix}/images/fr-btn1.png);
    background-size: 1.6rem 0.66rem;
}
.btn_t_huang { 
    background:url(#{$prefix}/images/fr-btn2.png);
    background-size: 1.6rem 0.66rem;
}


/* 礼包内容显示页  */
.BigGifuBox { 
    width: 100%; 
    padding: 0.2rem 0 0 0 ;
}
.GifuArtZu { 
    display: none; 
}
.GifuXiZu { 
    width: 100%; 
    li{
        position: relative; 
        padding: 0.2rem 0.27rem; 
        border-bottom:  1px solid $navbc;  
        .gif_nm {
            font-size:0.28rem; 
            color: $fgrey; 
            .leis{
                display: inline-block; margin-left:0.08rem; vertical-align: middle;
                padding: 0.02rem 0.12rem 0.01rem 0.12rem; height: 0.26rem; line-height: 0.26rem; border-radius: 0.05rem;
                font-size:0.2rem; text-align: center;
                color: $uerlan_color; 
                background: $lidilan; 
                border: 1px solid $tedilan;                 
            }
        }
        .gif_date {
            font-size:0.2rem; 
            color: $btngrey; 
        }
        .btn_see_xiangxi {
            position: absolute;right: 0.25rem; top:0.25rem;
        }
    }
}

 

/* 订单内容显示  */
.OrderListBox { 
    width: 100%; 
    padding: 0.2rem 0 0 0 ;
}
.OrderArtZu {  }
.OrderXiZu { 
    width: 100%; 
    li{
        position: relative; 
        padding: 0.2rem 0.27rem 0.2rem 0.27rem; 
        min-height: 1.4rem; 
        border-bottom:  1px dashed $navbg;  
        .ord_pic {
            position: absolute; left:0.31rem; top:0.2rem; 
            img {            width: 2rem;            height: 1.41rem;
            }
        }
        .ord_name {
             overflow: hidden;
            padding: 0.17rem 1.7rem 0.05rem 2.3rem; height: 0.6rem; line-height: 0.34rem;
            font-size:0.28rem;             color: $fgrey;   
        }
        .ord_date {
            padding: 0.12rem 0 0 2.3rem; 
            font-size:0.24rem;             color: $btngrey; 
        }
        .ord_act {
            position: absolute;right: 0.25rem; top:0.32rem;
            font-size:0.24rem;             color: $voteCur; 
        }
        .btn_see_chakan {
            position: absolute;right: 0.25rem; bottom:0.25rem;
        }
    }
}
 

/* 弹窗礼包内容显示*/
.pop_gift_group { 
    .ptong_li{
            .gif_nm {
                font-size:0.28rem; 
                color: $fgrey; 
                .leis{
                    display: inline-block; margin-left:0.08rem; vertical-align: middle;
                    padding: 0.02rem 0.12rem 0.01rem 0.12rem; height: 0.26rem; line-height: 0.26rem; border-radius: 0.05rem;
                    font-size:0.2rem; text-align: center;
                    color: $uerlan_color; 
                    background: $lidilan; 
                    border: 1px solid $tedilan;                 
                }
            }
            .gif_date {
                font-size:0.2rem; 
                color: $btngrey; 
            } 
    }
    .ptong_neirong {
        .libao_bt {
            padding: 0.13rem 0rem 0.02rem 0rem; 
            color:$voteCur;
        }
    }

}


.libao_jihuoma {
    position: relative; 
    width: 95%;
    height:0.5rem;
    line-height:0.5rem;
    color: $uerlan_color; 
    background: $lidilan; 
    border: 1px solid $tedilan;  
    border-radius: 0.05rem;    
    input.ma_Code {
        border-radius: 0.05rem  0 0 0.05rem;    
        width: 98%;
        height:0.5rem;
        line-height:0.5rem;
        color: $uerlan_color;
        background: none; 
        border:none; 
        text-indent: 0.2rem;
        font-size: 0.24rem;  
        vertical-align: top;
    }
    .btn_copyCode {
        position: absolute;
        right: 0;
        top:0;
        border-radius:  0 0.05rem 0.05rem 0 ;    
        width: 1.4rem;
        text-align: center;
        height:0.5rem;
        line-height:0.5rem;
        color: $curStatus_color;
        background: $navbg;  
        font-size: 0.24rem;  
        vertical-align: top;
    }
}

.libao_queha {
    padding: 0.13rem 0rem 0.12rem 0rem; 
    text-align: center;
}

//竖屏  弹窗高度
@media screen and (orientation:portrait) {
    .pop_gift_group {  
        height: 8.2rem;
        top:50%; 
        margin-top: -4.3rem;
    }
}
//横屏
@media screen and (orientation:landscape) {
    body{ 
    }
    .OrderXiZu { 
        width: 100%; 
        li{            
            width: 48%; float: left; display: inline; margin:0 1%;
            padding: 0.2rem 0.0rem 0.2rem 0.0rem; 
            .ord_pic {
                 left:0.11rem;  
            }
    
        }
    }
}

/*   ================  优惠券 ============ */


 
.CouponHaveBox { 
    padding: 0.01rem 0; 
    width: 100%; 
}
.CouponLoseBox { 
    padding: 0.01rem 0 0.41rem 0; 
    width: 100%; 
}

 
.CouponZu { 
    padding:0 0.3rem; 
    li{
        position: relative;
        height: 2rem;
        margin: 0.18rem 0;
        border-radius: 0.05rem;
        font-size: 0.24rem;
        color:$CoupZi;    
        .Coup_side_a {
            width: 70%;  
            .Coup_nm {
                padding:0.46rem 0rem 0rem 0.31rem; 
                font-size: 0.28rem;
            }
            .Coup_date {
                padding:0.17rem 0rem 0rem 0.31rem;                 
            }
        }
        .Coup_side_b {
            position: absolute;right: 0; top:0; 
            width: 28%;            height: 100%;  text-align: center;
            border-radius: 0 0.05rem  0.05rem 0;
            background: Coupbg_b-01;
            .Coup_money {
                font-size: 0.48rem; line-height: 1.3;
                padding:0.41rem 0rem 0.03rem 0rem; 
            }
            .c_dian {
                position: absolute;  top:0; width:0.08rem;  left: -0.03rem;   height: 2rem;   
                background:url(#{$prefix}/images/coup_dian_bg.png) repeat-y;
                background-size: 0.08rem 2rem; 
            }
        }

        &.cou_act_01 {
            background:$Coupbg-01;               
            border:1px solid $CoupLine-01;
            .Coup_side_b {
                    background:$Coupbg_b-01;   
            }
        }
        &.cou_act_02 {
            background:$Coupbg-02;      
            border:1px solid $CoupLine-02;
            .Coup_side_b {
                    background:$Coupbg_b-02;   
            }
        }
        &.cou_act_03 {
            background:$Coupbg-03;      
            border:1px solid $CoupLine-03;
            .Coup_side_b {
                    background:$Coupbg_b-03;   
            }
        }
        &.cou_act_lose {
            color:$btngrey;
            background:$Coupbg-lose;      
            border:1px solid $CoupLine-lose;
            .Coup_side_b {
                    background:$Coupbg_b-lose;   
            }
            .c_dian {
                background:url(#{$prefix}/images/coup_dian_bg_2.png) repeat-y;
                background-size: 0.08rem 2rem; 
            }
            .c_ztai {
                position: absolute; right:0; top:0; width:0.97rem;    height: 0.97rem;   
                background:url(#{$prefix}/images/coup_lose_biao.png) no-repeat;
                background-size: 0.97rem 0.97rem; 
            }
        }
    }
}

.cou_more_ha { 
     margin: 0 0.3rem;  text-align: center; 
    background: $voteEndBg; 
    .btn_ck_more {
        display: inline-block;width: 100%; padding:0.2rem 0rem; 
        font-size: 0.28rem; color:$btngrey;
    }
}
.CouponLoseTitle { 
    position: relative;    width: 100%;  height: 0.4rem; border-bottom: 1px solid $navbc; margin-bottom: 0.42rem; 
    .sbiti{ 
        position: absolute;display: inline-block; text-align: center;    font-size: 0.28rem; line-height: 0.3rem; 
        left: 50%; margin-left: -1rem;width: 2rem; top:0.25rem;
        color:$btngrey; 
        background: $bg; 
    }
}

/*订单信息*/
 
.OrderInfoPage { 
    padding:0.2rem 0rem 0.2rem 0rem; 
    font-size: 0.28rem; line-height: 1.5; color:$uerlan_color;
    width: 100%; 

    .Ordin_ord_box { 
        padding:0rem 0.34rem;  
    }
    .ord_in_ha { 
        padding:0.08rem 0rem; 
        width: 100%; 
        .o_sx {
            padding:0rem 0.05rem 0rem 0rem; 
        }
    }    
    .Ordin_prd_box {  
        margin:0.28rem 0rem; 
        padding:0.41rem 0.34rem;  
        border-top:1px solid $navbc; border-bottom:1px solid $navbc; 
    }    
    .Ordin_prd_zu {
        li{
            position: relative; 
            min-height: 1.41rem;
            padding-left: 2.36rem;  
            .ord_pic {
                position: absolute; left:0rem; top:0rem; 
                img {            width: 2rem;            height: 1.41rem;
                }
            }
            .ord_name {

                padding: 0.17rem 0.7rem 0.05rem 0rem;  height: 0.6rem; line-height: 0.34rem; 
                font-size:0.28rem;            
            }
            .ord_bizhi {
                padding: 0.12rem 0 0 0rem; 
                font-size:0.24rem;         
                em{
                    color:$frbrown;
                }   
            }
            .ord_shuliang {
                position: absolute;right: 0.02rem; top:0.16rem;
                font-size:0.24rem;             color: $btngrey;  
            }
            .btn_see_chakan {
                position: absolute;right: 0.25rem; bottom:0.25rem;
            }
        }
    }
    .Ordin_add_box { 
        padding:0.1rem 0.34rem;  
    }

}



/*地址信息表*/
 
.AddressInfoPage { 
    padding:0.3rem 0rem 0rem 0rem; 
    font-size: 0.28rem; line-height: 1.5; color:$uerlan_color;
    width: 100%; 
    .Add_show_zu {  
        padding:0rem 0.34rem;  
        li {
        padding:0.34rem 0.58rem; 
        border: 1px solid $tedilan; background: $btnC; border-radius:4px; margin-bottom: 0.3rem; position: relative;
        font-size: 0.24rem;   color: $uerlan_color; 
        &:focus,&:hover { border-color: $btnBh;box-shadow: 0 0 0.3rem 0.15rem #0b2c55 inset ;}
            i.iconfontYZ { color: $iconh; font-size: 0.4rem;   width: 0.4rem; height: 0.4rem;
            margin-right: 0.07rem; vertical-align: middle; display: inline-block; margin-bottom: 0.05rem; }
            .Duo_xuan a{
                color:#515d6d;
                .iconYZ-fuxuankuang:before {   color:$voteEndCur;  content: "\e65d";}
                &.on{ color:#2783c0; 
                      .iconYZ-fuxuankuang:before {  color:$iconh;   content: "\e62f";}
                }
            }
            .Add_ren_ha {
                .o_name { display: inline-block; min-width: 1.6rem; padding-right: 0.1rem;}
            } 
            .Add_diz_ha {
                padding:0.12rem 0rem 0.12rem 0rem; 
            }
            .Add_act_ha {
                position: relative;
                span { display: inline-block; line-height: 0.4rem;}
                .act_xing {
                    position: absolute;right: 0.05rem; 
                    a{ display: inline-block;  margin-left: 0.2rem; color:$uerlan_color;}
                }
            }
            
        }

    }
    .Add_dizhi_ha { 
        padding: 0rem;  
        .btn_xindizhi {
            display: inline-block;width: 100%; height: 0.9rem; line-height: 0.9rem; text-align: center;
            background: $CoupLine-lose; 
            color:$curStatus_color; 
        }
    }    
   

}


 /* 删除地址弹窗  */
.pop_ddizhi_group { 
    width: 5.2rem;
    height: 3.2rem;
    top: 50%;
    left: 50%;  
    margin-top: -1.6rem;
    margin-left: -2.6rem;  
    .ptong_neirong {
        text-align: center;
        padding:0.23rem 0rem 0rem 0rem; 
        .ddizhi_tx {
            padding:0.11rem 0rem 0rem 0rem; 
            color:$formTextC; 
        }
        .ddizhi_queha{
            padding:0.33rem 0rem 0.2rem 0rem; 
        }
    }
}







/*
     */
