// color
/*整站颜色样式*/
body{background:#091425;color:#E8EBF0;}

.text_color_1{color:#D6A86C;}

/*金黄色字*/
.text_color_2{color:#555E6F}

/*灰色字*/
.text_color_3{color:#FFFFFE}

/*纯白*/
.text_color_4{color:#4878E1;}

/*蓝色*/
.text_color_5{color:#4D545F;}

/*浅灰色*/
.text_color_6{color:#9DA8BB;}

/*亮灰色*/
.background_color{background-color:#161E2F;}

/*主颜色*/
.background_color_2{background-color:#1C2436;}


/*点缀色*/
.background_color_3{background-color:#151F2E;}


.background_color_4{background-color:#101B2E}


/*次颜色*/
.background_color_5{background-color:#121E32;}


/*特殊色*/
.background_color_6{background-color:#182332;}

